@import '../../styles/main.scss';
@import '../page';

.about {
    flex-direction: column;
    height: 100%;
}

.picture {
    max-width: 25.75rem;
}

.body {
    display: flex;
    flex-direction: column;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.stats {
    li {
        display: flex;
    }
    
    li + li {
        margin-top: 2rem;
    }

    span:first-child {
        font-weight: 500;
        display: block;
        width: 8rem;
    }
    
}