@import '../../styles/main.scss';

.nodeBox {
    min-width: 17rem;
    min-height: 20rem;
    max-height: 98vh;
    padding: .5rem;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #000;
    font-size: 1rem;
    font-weight: 400;
    color: $c-black;

    li {
        display: flex;
        flex-direction: column;
    }

    .prop {
        color: $c-main;
    }
}

.armies {
    li {
        cursor: pointer;
        &:hover {
            color: $c-main;
        }
    }
}

.armyModal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17rem;
    height: 50rem;
    background-color: red;
}