@import '../../../styles/main.scss';

.tooltip {
    padding: .15rem .25rem;
    font-size: .85rem;
    font-weight: 400;
    color: $c-black;
    z-index: 1111;


    p {
        display: flex;
        align-items: center;
        &:hover {
            color: red;
        }
    }

    p+ p {
        margin-top: .25rem;
    }
}

.flag {
    height: 1.5rem;
}


.friend {
    color: $c-green;
}

.friendForEdit {
    color: $c-green-light;
}

.neutral {
    color: $c-yellow;
}

.neutralForEdit {
    color: $c-yellow-light;
}

.enemy {
    color: $c-red;
}

.enemyForEdit {
    color: $c-red-light;
}
