@import '../../../styles/main.scss';

.tooltip {
    padding: .15rem .25rem;
    font-size: .85rem;
    font-weight: 400;
    color: $c-black;
    z-index: 1110;
    &:hover {
        background-color: red;
    }

}

.army {
    display: flex;
    align-items: center;
    transition: all $t-duration;
    cursor: pointer;
    z-index: 11120;

    &:hover {
        background-color: red;
    }
}

.army + .army {
    margin-top: .25rem;
}

.flag {
    height: 1.5rem;
    margin-right: .25rem;
    transition: all $t-duration;
}

.bigFlag {
    height: 1.75rem;
}

.walls {
    font-size: 1rem;
    margin-right: .25rem;
}

.friend {
    color: $c-green;
}

.friendForEdit {
    color: $c-green-light;
}

.neutral {
    color: $c-black;
}

.neutralForEdit {
    color: $c-grey-light;
}

.enemy {
    color: $c-red;
}

.enemyForEdit {
    color: $c-red-light;
}
