@import '../../styles/main.scss';

.legionary {    
    position: relative;
    width: calc(100% / 3 - (2rem * (3 - 1))/3);
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    cursor: pointer;
    @include breakpoint-down(mobile) {
        width: calc(100% / 2 - (2rem * (2 - 1))/2);
    }
    

    &:after {
        content: '';
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.3);
        opacity: 0;
        transition: opacity $t-duration ease-in-out;
        z-index: 3;
    }
    .imageWrapper {
        position: relative; 
        padding: .5rem;
        z-index: 2;
        @include breakpoint-down(mobile) {
            padding: .25rem;
        }
    }

    .border {
        position: absolute;
        inset: 0;
    }

    img {
        width: 100%;
    }

    .about {
        position: relative;
        @include flexCenter;
        font-weight: 500;
        z-index: 1;
        padding: 0 0 1.5rem 0;
        @include breakpoint-down(mobile) {
            padding: 0 0 1rem 0;
        }

        .border {
            left: 0;
            right: auto;
            top: auto;
           bottom: 0;
        }
    }
}
.legionary:hover {
    &:after {
        opacity: 1;
    }
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    .legionary {
        cursor: auto;
        width: 100%;
        max-width: 32rem;
        @include breakpoint-down(mobile) {

            transform: scale(1.5);
        }
    }
    img {
        width: 100%;
    }

    .legionary:hover {
        &:after {
            opacity: 0;
        }
    }

    .about {
       padding: .6rem 1rem 3rem;
       @include breakpoint-down(mobile) {
           padding: 1rem 1rem 1.4rem;
       }
    }
}