@import '../../styles/main.scss';

.modal {
    position: fixed;
    inset: 0;
    background-image: url('../../../public/Images/background-tree.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
    z-index: 20;
  }

.close {
    position: absolute;
    width: 3rem;
    height: 3rem;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
    z-index: 21;

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 0rem;
      left: 50%;
      width: .25rem;
      height: 3rem;
      background-color: $c-grey;
      transform: translate(-50%, 0) rotate(45deg);
    }

    &:after {
      transform: translate(-50%, 0) rotate(-45deg);
    }
}

.close:hover {
    &:before,
    &:after {
      background-color: $c-grey-light;
    }
  }
